.SearchResults {
  width: 50%;
  height: 1000px;
  overflow-y: scroll;
  background-color: rgba(29, 185, 84, 0.5);
  box-shadow: 0 4px 2px 2px #000000;
}



.SearchResults h2 {
  margin: 0;
  border-bottom: 2px solid gray;
  height: 80px;
  display: flex;
  justify-content:center;
  align-items:center;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

@media only screen and (max-width: 1020px) {
  .SearchResults {
    width: 90%;
    margin-bottom: 2rem;
  }
}